doctype html
html
  head
    title LoopQuest - Leaderboard
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
  body
    .leaderboard-container
      h1  Final Leaderboard
      div(style="overflow-x: auto;")
        table.leader-table
          thead
            tr
              th Rank
              th Player
              th Accuracy
          tbody
            each player, index in players
              tr(class=index === 0 ? 'winner-row' : '')
                td #{index + 1}
                td #{player.username}
                td #{player.score}%
      
      if players.length > 0
        .winner-announcement
          h3 The Winner is:  #{players[0].username}! 

      .action-area
        a.submit-btn(href="/logout") Finish Game